page-resetpass {

  .background {
    background-color: black;
  }

  .form-content {
    background-color: black;

  }

  .text-fields {
    background-color: black;

  }

  #textInput {
    color: white;
  }

  .submit-button {
    background-color: color($colors, dark);
  }

  .cancel-button {
    background-color: color($colors, dark);
  }

  .error-message {
    color: red;

  }
}
